/**************** 
    
    Name: Brianne Coleman
    Date: March 22, 2023
    Description: WebDev 2 -  Final Project CSS

****************/

body {
	font-family:'Century Gothic', sans-serif;
	font-size: 15px;
	margin: 10px auto;
	width: 1230px;
}

.navcontainer{
	display:flex;
}

.navbox1{
	flex:1;
	width:49%;
}

.navbox2 {
	flex: 1;
	width: 49%;
	order: 2;
	text-align: right;
}

.table{
	display:flex;
}

#header {
	height: 100px;
	margin: 10px;
	margin-top: 30px;
	border-bottom-style: solid;
	border-width: 0.5px;
}

#profileinfo {
	float: left;
	width: 48%;
	height: 100%;
	margin-left: 10px;
}

.infobox {
	width:85%;
	
}

#photos{
	float: left;
	width: 49%;
	padding: 10px;
}

.uploadform{
	text-align: left;
	border-bottom-style: solid;
	border-width: 0.5px;
}

.photoform{
	text-align: left;
	border-bottom-style: solid;
	border-width: 0.5px;

}

.photoform img{
	max-width: 100px;
}

.editacts{
	text-align: left;
}

footer{
	border-top-style: solid;
	border-width: 1px;
	border-color: black;
	height:125px;
	width: 100%;
	float: left;
	font-size: 12px;
	color: darkgrey;
	text-align: center;
}

.profile {
	border-style: solid;
	border-width: 1px;
	padding-bottom: 15px;
}

.headerbox{
	width: 100%;
}

.userlist {
	border-style: solid;
	border-width: 1px;
}

.title {
	list-style: none;
	font-weight: bold;
	font-size: 25px;
}

.edit {
	font-size: 15px;
}

.content{
	list-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 10px;
}

.content a{
	text-decoration: underline;
}

.show_content{
	list-style: none;
	padding: 10px;
}

.timestamp {
	list-style: none;
	margin-bottom: 15px;
	font-size: 12px;
	text-align: center;
}

.commenttimestamp {
	list-style: none;
	font-size: 12px;
	margin-top: -35px;
}

textarea {
	font-family: 'Century Gothic', sans-serif;
	resize: none;
}

input {
	font-family: 'Century Gothic', sans-serif;
}

select {
	font-family: 'Century Gothic', sans-serif;
}

#title{
	width: 50%;
}

label{
	display:block;
	padding-bottom: 5px;
}

a{
	text-decoration: none;
	color: #000;
	font-size: 15px;
	color:darkblue;
}

a:hover{
	color: blue;
}

.title a{
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	padding-top: 10px;
}


h1{
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: darkblue;
	margin-bottom: 0px;
}

h2 {
	padding-left: 40px;
	color: darkblue;
	font-weight: normal;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

h4{
	font-size: 15px;
	font-family: 'Century Gothic';
}

.error{
	color: red;	
}


.logout{
	text-align:center;
	align-content: center;
}

.invalidlogin{
	color: red;
}

.table {
	margin: auto;
	border-style: solid;
	border-width: 1px;
	width: 50%;
}

thead th{
	background: lightgrey;
	width: 100px;
}

td{
	margin-left: 1px;
}

#center {
	text-align: center;
}

img{
	max-height: 300px;
	border-style: solid;
	border-color: darkblue;
}
